/Adaptor_Pattern/.vs/Adaptor_Pattern/v15/.suo
/Adaptor_Pattern/Adaptor_Pattern.sln
/Adaptor_Pattern/Adaptor_Pattern/obj/Debug/netcoreapp2.2/Adaptor_Pattern.AssemblyInfo.cs
/Adaptor_Pattern/Adaptor_Pattern/obj/Debug/netcoreapp2.2/Adaptor_Pattern.AssemblyInfoInputs.cache
/Adaptor_Pattern/Adaptor_Pattern/obj/Debug/netcoreapp2.2/Adaptor_Pattern.csproj.CoreCompileInputs.cache
/Adaptor_Pattern/Adaptor_Pattern/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Adaptor_Pattern/Adaptor_Pattern/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Adaptor_Pattern/Adaptor_Pattern/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Adaptor_Pattern/.vs/Adaptor_Pattern/v15/Server/sqlite3/db.lock
/Adaptor_Pattern/.vs/Adaptor_Pattern/v15/Server/sqlite3/storage.ide
/Adaptor_Pattern/.vs/Adaptor_Pattern/v15/Server/sqlite3/storage.ide-shm
/Adaptor_Pattern/.vs/Adaptor_Pattern/v15/Server/sqlite3/storage.ide-wal
/Adaptor_Pattern/Adaptor_Pattern/obj/Adaptor_Pattern.csproj.nuget.cache
/Adaptor_Pattern/Adaptor_Pattern/obj/Adaptor_Pattern.csproj.nuget.g.props
/Adaptor_Pattern/Adaptor_Pattern/obj/Adaptor_Pattern.csproj.nuget.g.targets
/Adaptor_Pattern/Adaptor_Pattern/obj/Debug/netcoreapp2.2/Adaptor_Pattern.assets.cache
/Adaptor_Pattern/Adaptor_Pattern/obj/Debug/netcoreapp2.2/Adaptor_Pattern.csprojAssemblyReference.cache
/Adaptor_Pattern/Adaptor_Pattern/obj/project.assets.json
/Adaptor_Pattern/.vs/Adaptor_Pattern/DesignTimeBuild/.dtbcache
/Adaptor_Pattern/Adaptor_Pattern/.vs/Adaptor_Pattern/v16/.suo
/Adaptor_Pattern/Adaptor_Pattern/bin/Debug/netcoreapp2.2/Adaptor_Pattern.deps.json
/Adaptor_Pattern/Adaptor_Pattern/bin/Debug/netcoreapp2.2/Adaptor_Pattern.dll
/Adaptor_Pattern/Adaptor_Pattern/bin/Debug/netcoreapp2.2/Adaptor_Pattern.pdb
/Adaptor_Pattern/Adaptor_Pattern/bin/Debug/netcoreapp2.2/Adaptor_Pattern.runtimeconfig.dev.json
/Adaptor_Pattern/Adaptor_Pattern/bin/Debug/netcoreapp2.2/Adaptor_Pattern.runtimeconfig.json
/Adaptor_Pattern/Adaptor_Pattern/obj/Debug/netcoreapp2.2/Adaptor_Pattern.csproj.FileListAbsolute.txt
/Adaptor_Pattern/Adaptor_Pattern/obj/Debug/netcoreapp2.2/Adaptor_Pattern.dll
/Adaptor_Pattern/Adaptor_Pattern/obj/Debug/netcoreapp2.2/Adaptor_Pattern.genruntimeconfig.cache
/Adaptor_Pattern/Adaptor_Pattern/obj/Debug/netcoreapp2.2/Adaptor_Pattern.pdb
/Adaptor_Pattern/Adaptor_Pattern/Adaptor_Pattern.sln
/Adaptor_Pattern/Adaptor_Pattern/obj/project.nuget.cache
/Adaptor_Pattern/Adaptor_Pattern/obj/Adaptor_Pattern.csproj.nuget.dgspec.json
/Adaptor_Pattern/Adaptor_Pattern/Adaptor_Pattern.sln
/Adaptor_Pattern/Facade_Pattern/obj/Debug/netcoreapp3.1/Facade_Pattern.AssemblyInfo.cs
/Adaptor_Pattern/Facade_Pattern/obj/Debug/netcoreapp3.1/Facade_Pattern.AssemblyInfoInputs.cache
/Adaptor_Pattern/Facade_Pattern/obj/Debug/netcoreapp3.1/Facade_Pattern.assets.cache
/Adaptor_Pattern/Facade_Pattern/obj/Debug/netcoreapp3.1/Facade_Pattern.csprojAssemblyReference.cache
/Adaptor_Pattern/Facade_Pattern/obj/Facade_Pattern.csproj.nuget.dgspec.json
/Adaptor_Pattern/Facade_Pattern/obj/Facade_Pattern.csproj.nuget.g.props
/Adaptor_Pattern/Facade_Pattern/obj/Facade_Pattern.csproj.nuget.g.targets
/Adaptor_Pattern/Facade_Pattern/obj/project.assets.json
/Adaptor_Pattern/Facade_Pattern/obj/project.nuget.cache
/Adaptor_Pattern/Adaptor_Pattern/Adaptor_Pattern.sln
/Adaptor_Pattern/Decorator_Pattern/obj/Debug/netcoreapp3.1/Decorator_Pattern.AssemblyInfo.cs
/Adaptor_Pattern/Decorator_Pattern/obj/Debug/netcoreapp3.1/Decorator_Pattern.AssemblyInfoInputs.cache
/Adaptor_Pattern/Decorator_Pattern/obj/Debug/netcoreapp3.1/Decorator_Pattern.assets.cache
/Adaptor_Pattern/Decorator_Pattern/obj/Debug/netcoreapp3.1/Decorator_Pattern.csprojAssemblyReference.cache
/Adaptor_Pattern/Decorator_Pattern/obj/Decorator_Pattern.csproj.nuget.dgspec.json
/Adaptor_Pattern/Decorator_Pattern/obj/Decorator_Pattern.csproj.nuget.g.props
/Adaptor_Pattern/Decorator_Pattern/obj/Decorator_Pattern.csproj.nuget.g.targets
/Adaptor_Pattern/Decorator_Pattern/obj/project.assets.json
/Adaptor_Pattern/Decorator_Pattern/obj/project.nuget.cache
/Adaptor_Pattern/Adaptor_Pattern/Adaptor_Pattern.sln
/Adaptor_Pattern/Adaptor_Pattern/.vs/Design_Pattern/v16/.suo
/Adaptor_Pattern/Adaptor_Pattern/.vs/Adaptor_Pattern/DesignTimeBuild/.dtbcache.v2
/Adaptor_Pattern/Adaptor_Pattern/.vs/Design_Pattern/DesignTimeBuild/.dtbcache.v2
